body {
  background-color: #66e3f3;
}
form input {
  display: block;
  padding: 4px;
  width: 96%;
  margin: 0 auto;
  border: 2px solid #66e3f3;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.form__select {
  text-align: center;
  margin-bottom: 15px;
}
.form__select select {
  font-size: 20px;
  color: #66e3f3;
  border: 1.5px solid #000;
}
.form__box {
  border: 2px solid #000;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.form__box label {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
.form__box button {
  width: 30%;
  height: 28px;
  margin-top: 10px;
  background-color: #66e3f3;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
